* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia", serif;
}

body {
    background-color: #fff;
    color: #333;
}

/* Top bar */
.top-bar {
    background-color: #f6e8b1;
    text-align: center;
    padding: 20px 0;
}

.top-bar h1 {
    font-size: 36px;
    font-weight: bold;
}

/* Hero */
.hero {
    position: relative;
    height: 320px;
    background: url("https://penangfoodie.sgp1.digitaloceanspaces.com/2018/06/penang-island-malaysia.jpg") center/cover no-repeat;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-overlay h2 {
    font-size: 48px;
    font-style: italic;
}

.hero-overlay p {
    margin-top: 10px;
    font-size: 16px;
}

/* About */
.about {
    display: flex;
    gap: 40px;
    padding: 60px 80px;
    align-items: center;
}

.about-image img {
    width: 420px;
    border-radius: 4px;
}

.about-text {
    max-width: 500px;
}

.about-text h3 {
    margin-bottom: 15px;
    font-size: 22px;
}

.about-text p {
    line-height: 1.6;
    font-size: 15px;
}

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px 80px;
}

.gallery img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 4px;
}

/* Footer */
.footer {
    background-color: #9c6a00;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    font-size: 14px;
}

.social {
    font-size: 28px;
}

h3 img {
  width: 40px;
    height: 40px;
}

.nav-link{
   color: white;
}


.nav-link:hover{
   color: yellow;
}